.calculator{
  display:block;
  margin:4% auto;
  padding:20px;
  background-color:#d3d8db;
  width:300px;
  border-radius: 10px;
}

.calculator td button{
  display:block;
  width:70px;
  height: 70px;
  font-size: 25px;
}

#result{
  display:block;
  text-align: right;
  font-size: 36px;
  margin-bottom: 20px;
  padding: 0 10px 0 10px;
  height: 50px;
  line-height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow-y: scroll;
}
